<template>
  <div>
    <div id="nav">
      <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/login">Login</router-link></li>
        <li><router-link to="/register">Register</router-link></li>
      </ul>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#nav {
    position: absolute;
    height: 50px;
    background-color: #2C64B4;
    box-shadow: 5px 5px 10px gray;
    width: 100%;
    display: flex;
    justify-content: center;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    float: left;
}
#nav ul li a {
    text-decoration: none;
    padding: 12px 20px;
    display: block;
    color: #FFF;
    text-align: center;
}
li:hover {
  background-color: #4478c2;
}
</style>
